.full-width .cm-content,
.full-width .cm-line {
  max-width: 100% !important;
}

.full-width .table-wrapper {
  width: 100% !important;
}

.full-width .table-wrapper table,
.full-width .el-table table {
  width: 100%;
}
